I decided to treat this as a classification problem by creating a new binary
variable affair (did the woman have at least one affair?) and trying to
predict the classification for each woman.

Dataset


The dataset I chose is the affairs dataset that comes with Statsmodels. It
was derived from a survey of women in 1974 by Redbook magazine, in
which married women were asked about their participation in extramarital
affairs. More information about the study is available in a 1978 paper from
the Journal of Political Economy.

In [25]:
#import libraries
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

In [12]:
#load data
data=sm.datasets.fair.load_pandas().data
data

      rate_marriage   age  yrs_married  ...  occupation  occupation_husb   affairs
0               3.0  32.0          9.0  ...         2.0              5.0  0.111111
1               3.0  27.0         13.0  ...         3.0              4.0  3.230769
2               4.0  22.0          2.5  ...         3.0              5.0  1.400000
3               4.0  37.0         16.5  ...         5.0              5.0  0.727273
4               5.0  27.0          9.0  ...         3.0              4.0  4.666666
...             ...   ...          ...  ...         ...              ...       ...
6361            5.0  32.0         13.0  ...         4.0              3.0  0.000000
6362            4.0  32.0         13.0  ...         5.0              5.0  0.000000
6363            5.0  22.0          2.5  ...         3.0              1.0  0.000000
6364            5.0  32.0          6.0  ...         3.0              4.0  0.000000
6365            4.0  22.0          2.5  ...         2.0              4.0  0.000000

[6366 rows x 9 columns]

In [13]:
data['affair']=(data.affairs>0).astype(int)
data.head(2)

   rate_marriage   age  yrs_married  ...  occupation_husb   affairs  affair
0            3.0  32.0          9.0  ...              5.0  0.111111       1
1            3.0  27.0         13.0  ...              4.0  3.230769       1

[2 rows x 10 columns]

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6366 entries, 0 to 6365
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rate_marriage    6366 non-null   float64
 1   age              6366 non-null   float64
 2   yrs_married      6366 non-null   float64
 3   children         6366 non-null   float64
 4   religious        6366 non-null   float64
 5   educ             6366 non-null   float64
 6   occupation       6366 non-null   float64
 7   occupation_husb  6366 non-null   float64
 8   affairs          6366 non-null   float64
 9   affair           6366 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 497.5 KB

In [15]:
data.isnull().sum()

rate_marriage      0
age                0
yrs_married        0
children           0
religious          0
educ               0
occupation         0
occupation_husb    0
affairs            0
affair             0
dtype: int64

In [16]:
y, X = dmatrices('affair ~ rate_marriage + age + yrs_married + children + religious + educ + C(occupation) + C(occupation_husb)', data, return_type="dataframe")

In [17]:
y

      affair
0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
...      ...
6361     0.0
6362     0.0
6363     0.0
6364     0.0
6365     0.0

[6366 rows x 1 columns]

In [18]:
X

      Intercept  C(occupation)[T.2.0]  ...  religious  educ
0           1.0                   1.0  ...        3.0  17.0
1           1.0                   0.0  ...        1.0  14.0
2           1.0                   0.0  ...        1.0  16.0
3           1.0                   0.0  ...        3.0  16.0
4           1.0                   0.0  ...        1.0  14.0
...         ...                   ...  ...        ...   ...
6361        1.0                   0.0  ...        3.0  17.0
6362        1.0                   0.0  ...        1.0  16.0
6363        1.0                   0.0  ...        2.0  14.0
6364        1.0                   0.0  ...        3.0  14.0
6365        1.0                   1.0  ...        2.0  16.0

[6366 rows x 17 columns]

In [19]:
X = X.rename(columns =
{'C(occupation)[T.2.0]':'occ_2',
'C(occupation)[T.3.0]':'occ_3',
'C(occupation)[T.4.0]':'occ_4',
'C(occupation)[T.5.0]':'occ_5',
'C(occupation)[T.6.0]':'occ_6',
'C(occupation_husb)[T.2.0]':'occ_husb_2',
'C(occupation_husb)[T.3.0]':'occ_husb_3',
'C(occupation_husb)[T.4.0]':'occ_husb_4',
'C(occupation_husb)[T.5.0]':'occ_husb_5',
'C(occupation_husb)[T.6.0]':'occ_husb_6'})

In [20]:
X

      Intercept  occ_2  occ_3  occ_4  ...  yrs_married  children  religious  educ
0           1.0    1.0    0.0    0.0  ...          9.0       3.0        3.0  17.0
1           1.0    0.0    1.0    0.0  ...         13.0       3.0        1.0  14.0
2           1.0    0.0    1.0    0.0  ...          2.5       0.0        1.0  16.0
3           1.0    0.0    0.0    0.0  ...         16.5       4.0        3.0  16.0
4           1.0    0.0    1.0    0.0  ...          9.0       1.0        1.0  14.0
...         ...    ...    ...    ...  ...          ...       ...        ...   ...
6361        1.0    0.0    0.0    1.0  ...         13.0       2.0        3.0  17.0
6362        1.0    0.0    0.0    0.0  ...         13.0       1.0        1.0  16.0
6363        1.0    0.0    1.0    0.0  ...          2.5       0.0        2.0  14.0
6364        1.0    0.0    1.0    0.0  ...          6.0       1.0        3.0  14.0
6365        1.0    1.0    0.0    0.0  ...          2.5       0.0        2.0  16.0

[6366 rows x 17 columns]

In [21]:
y = np.ravel(y)

In [22]:
y

array([1., 1., 1., ..., 0., 0., 0.])

In [23]:
#building model
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=.3,random_state=42)
model=LogisticRegression()
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
y_pred=model.predict(x_test)

In [26]:
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.7277486910994765

In [27]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[1145,  130],
       [ 390,  245]])